module.exports = {
  // Whose profile to render?
  pubkey: "npub1x3azxuysp5vmfer4vgs4jn5tmfcx4ew8sh0qnev7gczljxsr7jwqa3g4el",

  // Where does the user's notes stored at?
  relays: [
    "wss://example.com",
    "wss://example2.com"
  ],

  max_posts: 100,

  listen: "127.0.0.1",
  port: 3000,
  urlprefix: "/",

  // Whenever you would like to make this server listen as FastCGI instead of regular HTTP server
  fastcgi: false,
}
